name: Tests

on:
  push:
    branches: [ master, develop ]
    tags: [ '*' ]
  pull_request:
    branches: [ master, develop ]

jobs:
  unit-tests:
      name: Unit tests
      runs-on: ubuntu-latest
      timeout-minutes: 10
      steps:
        - uses: fkirc/skip-duplicate-actions@master
        - uses: actions/checkout@v2
        - uses: gradle/wrapper-validation-action@v1
        - uses: actions/setup-java@v1
          with:
            java-version: 11
        - uses: actions/cache@v2
          with:
            path: |
              ~/.gradle/caches
              ~/.gradle/wrapper
            key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}
        - name: Unit tests
          run: |
            ./gradlew --build-cache -Pcoverage testFdroidDebugUnitTest --stacktrace
            ./gradlew --build-cache -Pcoverage jacocoTestReport --stacktrace
        - uses: codecov/codecov-action@v1
          with:
              flags: unit
